<div class="container">
  <footer class="pt-4 my-lg-5 border-top">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="klaviyo-form-Qu7y3C"></div>
      </div>
      <div class="col-12 col-lg-6">
        &nbsp;
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-6">
        <small class="d-block mb-3 text-muted">&copy; 2018 - {{ site.currentYear }} Dusty Candland</small>
      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <small class="d-block mb-3">
          <nav>
            <a href="/shipping-and-returns/">Shipping & Returns</a>
            |
            <a href="/privacy-policy/">Privacy Policy</a>
            |
            <a href="/terms-of-use/">Terms of Use</a>
            |
            <a href="/contact/">Contact Us</a>
          </nav>
        </small>
      </div>
    </div>
  </footer>
</div>
