---
layout: default
title: About 11ty Shopify
image: /assets/images/fiddlersgreen.jpg
---

<article class="about row justify-content-center">
  <header class="mb-5 pb-5">
    <img src="/assets/images/fiddlersgreen.jpg" alt="Fiddlers Green" height="300" class="w100 img-fluid"/>
    <img src="/assets/images/profile.jpg" alt="Profile Image" height="200" width="200" class="profile"/>
    <h1>{{ title }}</h1>
  </header>

  <div class="col-12 col-lg-7">
    <p>Hi! I'm Dusty.</p>

    <p>I'm putting this out to help others build Shopify sites
    using 11ty.</p>

    <p>Thanks for reading!</p>
  </div>

</article>
