---
permalink: feed.xml
sitemapIgnore: true
metadata:
  feed:
    subtitle: 11ty Shopify Example
    filename: feed.xml
    path: feed/feed.xml
    url: https://11ty-shopify.com/feed.xml
    id: https://11ty-shopify.com/
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ site.buildTime | dateDisplay }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for product in collections.products %}
  {% set absolutePostUrl %}{{ product.url | absoluteUrl(site.url) }}{% endset %}
  <entry>
    <title>{{ product.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ product.data.product.updatedAt }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ product.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
